<div class="table-cell ">
    <span class="city-name">{{cityWeather.name}}</span>,
    <div clas="country-name">{{cityWeather.country}}</div>
</div>
<div class="table-cell midnight-temperature">
    {{cityWeather.midnightTemperature.temp}}
</div>
<div class="table-cell morning-temperature">
    {{cityWeather.morningTemperature.temp}}
</div>
<div class="table-cell afternoon-temperature">
    {{cityWeather.afternoonTemperature.temp}}
</div>
<div class="table-cell evening-temperature">
    {{cityWeather.eveningTemperature.temp}}
</div>