

/deep/ .table {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    /deep/ .table-cell:not(:first-child) {
        border-left: 0px;
    }
}
.table-header {
    background: lightgray;
}
/deep/ .table-cell {
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;  // Default to full width
    padding: 0.7em 0.7em;
    overflow: hidden; // Or flex might break
    list-style: none;
    border: solid 3px black;
    width: 20%;
}
.table-body /deep/.table-cell {
    border-top: 0px;
}