.table-row {
    display: flex;           display: -webkit-flex;
    flex-direction: row;     -webkit-flex-direction: row;
    flex-grow: 0;            -webkit-flex-grow: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

/deep/ .wrapper {
    display: flex;           display: -webkit-flex;
    flex-direction: row;     -webkit-flex-direction: row;
    flex-grow: 0;            -webkit-flex-grow: 0;
    flex-wrap: wrap;         -webkit-flex-wrap: wrap;
    justify-content: center;
    padding: 15px 0px;
}

/deep/ .text {
    width: 180px;
}
.header {
    background-color: lightgrey;
}