
<div>
    <div class="margin-top2">
            <div class="table table-header">
                <div class="table-cell">City</div>
                <div class="table-cell">12 am</div>
                <div class="table-cell">6 am</div>
                <div class="table-cell">12pm</div>
                <div class="table-cell">6pm</div>
            </div>
    </div>
    <app-city-weather-list-item class="table table-body" *ngFor="let cityWeather of citiesWeather" [cityWeather]="cityWeather"></app-city-weather-list-item>
</div>