$screen-sm:768px;
.container {
    display: flex; /* or inline-flex */
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.cities-weather-search-box {
    margin-top: 40px;
}

.table-container {
    width: 70%;
    margin-top: 40px;
    @media (max-width: $screen-sm) {
        width: 100%;
    }
}

app-city-weather-searcher {
    width: 50%;
    @media (max-width: $screen-sm) {
        width: 100%;
    }
}



