.container {
    display: flex; /* or inline-flex */
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.cities-weather-search-box {
    margin-top: 40px;
}

.margin-top2 {
    margin-top: 40px;
}
